.product_card{
    /* background-color: red; */
    border: 2px solid black;
    padding: 15px 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: black;
    justify-content: center;
    text-decoration: none;
    color: black;
    /* margin: auto; */
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.image{
    width: 300px;
    height: 300px;
    /* display: flex; */
    margin: auto;
    /* justify-content: center; */
}

.image img{
    width: 100%;
    height: 100%;
}

.name{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color:inherit;
    cursor:pointer;
}


.brand{
    font-size: 1.1rem;
    font-weight: 400;
    /* color: gray; */
}

.pricing{
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 3px;
}



.discounted .price{
    font-size: 2rem;
}

.original .price{
    text-decoration: line-through;
}
