.SortDiv{
    /* border-bottom: 2px solid black; */
    padding: 10px;
    box-shadow: 0 0 15px 0px;
    display: flex;
    justify-content: flex-end;
}

.SortCat{
    display: grid;
    grid-template-columns: 3fr 4fr ;
    /* width: 100%; */
    gap: 10px;
    /* border: 2px solid red;    */
}

.SortTitle{
    display: flex;
    font-size: 2.3vh;
    justify-content: flex-end;
    font-weight: bold;
    margin: auto 0px;
}
.SortContentsDiv{
    display: flex;
    font-size: 2.3vh;
    /* width: 80%; */
    padding: 3px;
    border-radius: 10px;
}
.SortTitleDiv{
    border-radius: 10px;
    display: flex;
    font-size: 2.3vh;
    /* width: 80%; */
    font-weight: bold;
}
